.direct-message-space-holder {
  height: 80px;
  width: 400px;
}

.channel-space-holder {
  height: 20px;
}

.channel-list {
  display: flex;
  flex-direction: column;
}

.new-channel-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 24px;
  border: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.channel-form-input {
  color: #eee;
  width: 480px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid;
  padding: 5px;
  margin-top: 16px;
  font-size: 26px;
  padding-left: 10px;
  outline: none;
}

.channel-form-input:focus{
  color: black;
}

.channel-list-item a {
  display: block;
  border-bottom: none;
  text-decoration: none;
  color: inherit;
  size: inherit;
  padding-top: 3px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  height: 14px;
  width: -1px;
  padding-left: 8px;
}

.selector {
  background-color: #4c9689;
  // color: white;
  color: white !important;
  border-radius: 5px !important;
}


.channel-list-item {
  margin-bottom: 10px;
  color: #9e8e9c;
  font-size: 14px;
  text-overflow: ellipsis;
  height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  width: 195px;

  a:hover {
    background-color: #231221;
  }
}


channel-list-item:hover{
  color: #555459;
}

.open-channel {
}

.closed-channel {

}

.big-text-nav-bar {
  font-size: 13px;
  color: #ab9ba9;
  margin-left: 5px;
  color: #9e8e9c;
}

.channel-submit {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #2ab27b;
  background-repeat: #2ab27b;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  color: white;
  opacity: .99;
  color: white;
  width: 500px;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  height: 64px;
  border-radius: 7px;
}

.channel-and-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-intro {
    position: relative;
    left: 38px;
}

.channel-label {
  font-size:14px;
  color: #9e8e9c;
  font-size: 14px;
  color: #9e8e9c;
  position: relative;
  left: 13px;
  margin-bottom: 8px;
}

.direct-message-label {
  position: relative;
  left: 9px;
  margin-bottom: 8px;
}

.direct-message-intro {
    position: relative;
    top: 68px;
    left: 35px;
}

.whole-direct-message-list {
  margin-top: 22px;
}

.button {
  padding-right: 11px;
  font-size: 16px;
  color: #9e8e9c;
  position: relative;
  bottom: 7px;
}

.button:hover {
  cursor: pointer;
}

.fa-circle {
  font-size: 12px;
  color: #38978d;
  padding-right: 5px;
}

.selected-users-box {
    border-bottom: 1px solid;
    height: 110px;
    font-size: 18px;
    overflow-y: scroll;
    padding-bottom: 50px;
    margin-top: 30px;
}

.unselected-users-box {
    height: 110px;
    font-size: 18px;
    overflow-y: scroll;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.selecting-users-label {
    margin-bottom: 10px;
    position: fixed;
    left: 193px;
    margin-top: 5px;
    top: 130px;
}

.unselecting-users-label {
    margin-bottom: 10px;
    position: fixed;
    left: 184px;
    margin-top: 5px;
    top: 318px;
}

.search-list-item {
  font-size: 16px;
  display: flex;
}

.search-list-item:hover {
  cursor: pointer;
}

.search-list-item img {
  position: relative;
  top: 5px;
  height: 25px;
  width: 25px;
}
