.channel-list {
  display: flex;
  flex-direction: column;
}

.new-channel-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 29px;
  border: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
}

.channel-form-input {
  color: #eee;
  width: 430px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid;
  padding: 5px;
  margin-top: 16px;
  font-size: 26px;
  padding-left: 10px;
  outline: none;
}

.channel-form-input:focus{
  color: black;
}

.channel-list-item a {
  border-bottom: none;
  text-decoration:none;
  padding-left: 8px;
  margin-top:5px;
  color: inherit;
  size: inherit;
}

.open-channel {
  color: white;
  font-size: 14px;
}

.closed-channel {
  color: #9e8e9c;
  font-size: 12px;
}

.big-text-nav-bar {
  font-size: 13px;
  color: #ab9ba9;
  margin-left: 5px;
}

.channel-submit {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #2ab27b;
  background-repeat: #2ab27b;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  color: white;
  opacity: .99;
  color: white;
  width: 448px;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  height: 64px;
  border-radius: 7px;
}

.channel-and-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-label {
  font-size:12px;
}

.button {
  padding-right: 9px;
}
