.homepage {
  display: flex;
  font-family: 'Nunito', sans-serif;
}


.left-col {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #4d394b;
  color: gray;
  width: 220px;
  height: 100vh;
}

.col-header {
  height: 60px;
}

.selected-header {
  height: 61px;
  position: absolute;
  position: absolute;
  left: 200px;
  top: 0px;
  width: 100%;
  height: 61px;
  background: white;
  border-bottom: 1px solid;
  z-index: 1;
}

.selected-channel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.header-message-list {
  justify-content: space-between;
}

.selected-channel-header {
}

.selected-header-text {
  padding-top: 20px;
  padding-left: 5px;
}
