#landing-text {
  display: flex;
  margin-top: 100px;
  font-size: 36px;
}

/*#landing-div {
  display: flex;
  justify-content: center;
  background: url(https://goo.gl/images/6a3vP4) 50% no-repeat;
  background-size: 1920px 1080px;
  position: relative;
  overflow: hidden;
  height: 100vh;
}*/
