#landing-text {
  display: flex;
  margin-top: 400px;
  margin-left: 25px;
  font-size: 48px;

}

#landing-div {
  display: flex;
  /*justify-content: center;*/
  background-image: url(images/lake.jpeg) 50% no-repeat;
  background-size: 1920px 1080px;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
