#landing-text {
  display: flex;
  margin-top: 551px;
  margin-left: 25px;
  font-size: 56px;
  color: white;
  font-family: 'Nunito', sans-serif;
}


#landing-div {
  background-image: image-url("yosemitesmall.jpg");
  background-size: 1920px 1080px;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

html {
  height: 100vh;
}



.nav {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: solid;
  background-color: gray;
  opacity: .5;
}

.auth {
    margin: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;         
    cursor:pointer;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: white;
    opacity: .99;
}

.login-form-container {
  font-size: 18px;
}

.submit {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #2ab27b;
  background-repeat: #2ab27b;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  opacity: .99;
  color: white;
  width: 407px;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  height: 38px;
}

.auth-input {
  width: 400px;
  height: 30px;
  margin-top: 15px;
  color: lightgray;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

.auth-input:focus{
  color: black;
}

.entry-message {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.entry-greeting {
  margin-bottom: 6px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
}

.whole-greeting {
  justify-content: center;
  text-align: center;
}






// .session-wrapper {
//   display: flex;
//   justify-content: center;
//   background: url(https://discordapp.com/assets/85e031dc63742b86264cc0dbc2a6fdb8.jpg) 50% no-repeat;
//   background-size: 1920px 1080px;
//   position: relative;
//   overflow: hidden;
//   height: 100vh;
// }
