
.col-header h4 {
  color: white;
  font-size: 28px;
  font-style: oblique;
}

.col-header {
  margin-bottom: 10px;
}
.current-user-greeting {
  font-size: 13px;
  color: #a291a0;
}

// .total-left-col {
//   padding-left: 4px;
// }
