
.col-header {
  color: white;
  font-size: 28px;
  font-style: oblique;
  font-size: 18px;
}

.current-user-greeting {
  font-size: 13px;
  color: #a291a0;
}

// .total-left-col {
//   padding-left: 4px;
// }
