
.col-header h4 {
  color: white;
  font-size: 28px;
  font-style: oblique;
}

.col-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
  left: 13px;
  top: 6px;
}

.current-user-greeting {
  font-size: 13px;
  color: #a291a0;
  display: flex;
}

.logout {
    outline: none;
    border: 1px solid;
    background: #4d394b;
    color: #aa9aa8;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    height: 25px;
    align-items: center;
    position: relative;
    left: 22px;
    top: 3px;
    justify-content: center;
    padding-bottom: 6px;
}

.fa-sign-out:hover {
    cursor: pointer;
}

.fa-sign-out {
  // font-size:12px;
  color: white;
  position: relative;
  left: 68px;
  top: 5px;
}
