// .selected-message-item {
//   background-color: white;
//   height: 45px;
//   margin-left: 27px;
//   margin-top: 5px;
//   display: flex;
// }

.small-reply-avatar {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.reply-label {
  color: black;
  padding-left: 13px;
}

.reply-box {
  display: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 30px;
  width: 75px;
}

.reply-box:hover {
  cursor: pointer;
}

.replies-label {
  position: relative;
  bottom: 3px;
}

.replies-box {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 30px;
  width: 120px;
}

.replies-box:hover {
  cursor: pointer;
}

.selected-message-item:hover .reply-box {
  display: block;
}

// .message-replies {
//   // display: block;
//   position: absolute;
//   z-index: 100;
//   height: 100px;
//   background: green;
//   right: 3px;
//   width: 30px;
// }

.big {
    position: absolute;
    top: 69px;
    height: 585px;
    width: 400px;
    right: 5px;
    width: 20%;
    border-radius: 18px;
    border: solid 2px gray;
    background: white;
}

@media only screen and (max-width: 870px) {
  .big  {
    width: 130px;
  }
}

.selected-message-item {
    background-color: white;
    /* height: 46px; */
    margin-left: 27px;
    margin-top: 5px;
    display: flex;
    width: 50%;

      // -moz-transition: padding-left .3s ease-in;
      //  -o-transition: padding-left  .3s ease-in;
      //  -webkit-transition: padding-left  .3s ease-in;
      //  transition: padding-left  .3s ease-in;

      -moz-transition: padding-bottom .15s ease-in;
       -o-transition: padding-bottom  .15s ease-in;
       -webkit-transition: padding-bottom  .15s ease-in;
       transition: padding-bottom  .15s ease-in;
}

.selected-message-item:hover {
  background: #f9f9f9;
  // padding-left:4px;
  padding-bottom:10px;


}

.reply-offer {
  font-size: 10px;
}

.selected-message-item-div:hover .reply-box {
  display: block;
}

.selected-message-list {
  background-color: white;
  height: 45px;
}

.unordered-message-list {
  overflow: scroll;
  max-height: calc(100% - 124px);
  white-space: pre-wrap;
  padding-top: 63px;
  position: absolute;
  top: 14px;
  left: 217px;
  /* bottom: 00px; */
  width: 100%;
}


// overflow: scroll;
// max-height: 100%;
// white-space: pre-wrap;
// padding-top: 63px;

.authorPic {
  height: 40px !important;
  width: 40px !important;
  border-radius: 3px;
  margin-right: 7px;
}

.search-list-item img {
  height: 40px !important;
  width: 40px !important;
}

.selected-message-item-div {
  display: flex;
  flex-direction: column;
}

.message-author-name {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
}


// .message-content {
//     font-size: 14px;
//     font-style: oblique;
//     margin-bottom: 12px;
//     position: relative;
//     bottom: 11px;
//     margin-top: 12px;
// }

.message-content {
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 0px;
    position: relative;
    bottom: 22px;
    margin-top: 10px;
}
