.selected-message-item {
  background-color: white;
  height: 45px;
  margin-left: 27px;
  margin-top: 5px;
  display: flex;
}

.selected-message-list {
  background-color: white;
  height: 45px;
}

.unordered-message-list {
  overflow: scroll;
  max-height: 100%;
  white-space: pre-wrap;
  padding-top: 63px;

}

.authorPic {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  margin-right: 7px;
}

.selected-message-item-div {
  display: flex;
  flex-direction: column;
}

.message-author-name {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

.message-content {
  font-size: 14px;
    font-style: oblique;
    margin-bottom: 12px;
    position: relative;
    bottom: 11px;
}
