.selected-input-div {
  display: flex;
  min-height: 21px;
  box-sizing: border-box;
  cursor: text;
  line-height: 1.42;
  outline: 0;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-top: 0px;
  overflow:hidden;
}

.selected-input-form {
  height: 40px;
  width: 100%;
  border: none;
  input{
    &:focus {
      border-color: #bbbdbf;
      outline: none;
      color: black
    }
    padding-left: 12px;
    width: 100%;
    height: 40px;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #a0a0a0
  }
}
