// .selected-message-item {
//   background-color: white;
//   height: 45px;
//   margin-left: 27px;
//   margin-top: 5px;
//   display: flex;
// }

/* -------  REPLY Input CSS */

.reply-input-div {
    display: flex;
    min-height: 21px;
    box-sizing: border-box;
    cursor: text;
    line-height: 1.42;
    outline: 0;
    overflow-y: scroll;
    padding: 12px 15px;
    /* overflow-x: scroll; */
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-top: 0px;
    overflow: hidden;
    position: absolute;
    /* z-index: 3; */
    width: 93%;
    bottom: 10px;
}

.reply-input-form {
    height: 40px;
    width: 100%;
    border: none;
    input{
      &:focus {
        border-color: #bbbdbf;
        outline: none;
        color: black
      }
      padding-left: 12px;
      width: 100%;
      height: 40px;
      border: 2px solid #E0E0E0;
      border-radius: 8px;
      font-size: 14px;
      font-family: 'Nunito', sans-serif;
      color: #a0a0a0
    }
}

/* -------  end REPLY Input CSS */




/* -------  REPLY ITEM CSS */
.reply-item {
  width: 1% !important;
  padding-left: 8px !important;
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  border-left: 3px solid transparent;
}

.reply-item:hover {
  // background: #f9f9f9;
  border-left: 3px solid #aaacad;
}

.reply-pic {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 5px;
}

.reply-item-div {
 display: flex;
 flex-direction: column;
}

.reply-author-name {
  font-size: 12px;
  font-weight: bold;
}


.reply-time-stamp {
  font-size: 8px;
  color: gray;
}

.reply-content {
  width: 160px;
  position: relative;
  bottom: 14px;
  left: 3px;

}

/* END of Reply item CSS */

.small-reply-avatar {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.reply-label {
  color: black;
  padding-left: 13px;
}

.reply-box {
  display: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 30px;
  width: 75px;
  position: relative;
  bottom: 5px;
}

.reply-thread-value {
  position: relative;
    left: 20px;
    font-size: 37px;
    color: #e2d6d6;
}

.original-avatar {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-radius: 15px;
  padding-left: 20px;
}


.original-thread {
  font-weight: 100;
  border-bottom: solid 2px #4d3a4b;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 100;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  background: #f3eeee;
  border-radius: 8px;
}

.reply-box:hover {
  cursor: pointer;
}

.replies-label {
  position: relative;
  bottom: 3px;
}

.replies-box {
  display: block;
  padding-top: 3px;
  // padding-bottom: 3px;
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 30px;
  width: 120px;
  position: relative;
  bottom: 14px;
}

.replies-box:hover {
  cursor: pointer;
}

.selected-message-item:hover .reply-box {
  display: block;
}

// .message-replies {
//   // display: block;
//   position: absolute;
//   z-index: 100;
//   height: 100px;
//   background: green;
//   right: 3px;
//   width: 30px;
// }

.big {
  position: absolute;
top: 69px;
height: 77%;
width: 400px;
right: 15px;
width: 23%;
border-radius: 18px;
border: solid 5px #4d3a4b;
background: white;
}

@media only screen and (max-width: 870px) {
  .big  {
    width: 130px;
  }
}

.selected-message-item {
    background-color: white;
    /* height: 46px; */
    margin-left: 27px;
    margin-top: 5px;
    display: flex;
    width: 47%;

      -moz-transition: padding-bottom .15s ease-in;
       -o-transition: padding-bottom  .15s ease-in;
       -webkit-transition: padding-bottom  .15s ease-in;
       transition: padding-bottom  .15s ease-in;
}

.selected-message-item:hover {
  background: #f9f9f9;
  // padding-left:4px;
  padding-bottom:10px;


}

.reply-offer {
  font-size: 10px;
}

.selected-message-item-div:hover .reply-box {
  display: block;
}

.selected-message-list {
  background-color: white;
  height: 45px;
}

.unordered-message-list {
  overflow: scroll;
  max-height: calc(100% - 124px);
  white-space: pre-wrap;
  padding-top: 63px;
  position: absolute;
  top: 14px;
  left: 217px;
  /* bottom: 00px; */
  width: 100%;
}


// overflow: scroll;
// max-height: 100%;
// white-space: pre-wrap;
// padding-top: 63px;

.authorPic {
  height: 40px !important;
  width: 40px !important;
  border-radius: 3px;
  margin-right: 7px;
}

.search-list-item img {
  height: 40px !important;
  width: 40px !important;
}

.selected-message-item-div {
  display: flex;
  flex-direction: column;
}

.message-author-name {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
}


.message-content {
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 0px;
    position: relative;
    bottom: 22px;
    margin-top: 10px;
}


/* channel list item */

// .selected:target {
//   color: red;
// }
