.selected-message-item {
  background-color: white;
  height: 45px;
}

.selected-message-list {
  display: flex;
  flex-direction: column;
}

.unordered-message-list {
  overflow: scroll;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  max-height: 100%;
}
